#game-main{

    width:80%;

   

    background-size: 50%;
    background-position-y: bottom;
    height: 400px;
    border: 1px solid black;
}

#div5{
    animation-timing-function: linear;
}


@keyframes mymove {
    from {left: 0px;}
    to {left: -1900px;}
  }

