#game-main{

    width:80%;

    background-image: url("https://media1.giphy.com/media/U7huVmA3TKuqvznInJ/giphy.gif");

    background-size: 50%;
    background-position-y: bottom;
    height: 400px;
}

#div5{
    animation-timing-function: linear;
}


@keyframes mymove {
    from {left: 0px;}
    to {left: -1900px;}
  }

